$segoe: 'Segoe', 'Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif';
$geneva: 'Geneva', 'Verdana', 'sans-serif';

$body-font           :$segoe;
$heading-font        :$geneva;
$body-font-weight    :400;
$body-color          :rgb(54, 54, 54);
$heading-font-weight :600;
$heading-color       :rgb(17, 17, 17);
$min-font            :12px;
$max-font            :20px;
$min-width           :600px;
$max-width           :1140px;
$vertical-rhythm     :true;
$line-height-ratio   :1.75;

$color-header: mix(rgb(0, 0, 0), rgb(85, 85, 85), 20%);
$color-text: mix(rgb(0, 0, 0), rgb(124, 124, 124), 50%);
$text-width: 25em;
$text-padding: 1em;

@mixin font($sizeValue: 1.6) {
    font-size: $sizeValue + rem;
}
